node_modules/
dist/
.env
*.db
uploads/
.gradle/
.idea/
build/
*.class
android/
gradle/
app/
*.apk
cloudflared.exe
gradlew
gradlew.bat
*.kts
local.properties
push-to-github.js
iniciar.js
package-lock.json
C-Users-Alumno-*/
c-Users-Alumno-*/
render.yaml
